---
layout: post
---

<section class="cats">	
	<div class="post-categories" style="font-weight:bold">
	  {% if post %}
	    {% assign categories = post.categories %}
	  {% else %}
	    {% assign categories = page.categories %}
	  {% endif %}
	  Categories:
	  {% for category in categories %}
	  <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}{% unless forloop.last %},&nbsp;{% endunless %}</a>
	  <!-- {% unless forloop.last %},&nbsp;{% endunless %} -->
	  {% endfor %}
	  <br>
	</div>
	<hr>
	<br>
</section>

{{content}}
